@page
@model Labs_80_ASP_Core_Web.Pages.UsingAModelModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<hr />
<hr />
<hr />

<style>
    div.block{
        width:100%; /*Note that you can use 50vw as well*/
        padding: 20px 20px 20px 20px; /*Top,Right,Bottom,Left*/
        background-color:lightpink;
        text-align:center;
        font-size:1.6em; /*One 'em' means standard size text*/
        margin-top: 5vh;
    }
</style>

<div class="block">
    @Model.Property01
</div>



<div class="block">
    @Model.Property01
</div>

<div class="block">
    @Model.Property01
</div>

<div class="block">
    @Model.Property01
</div>

<div class="block">
    @Model.Property01
</div>